
<h3><%= name %>, how old are you?</h3>
<input type="hidden" style="color: green" class="shadowed" id="username" value="<%= name %>">
<input type="number" class="shadowed" id="age"> 
<button id="sub_age" class="shadowed rounded" onclick="postAge()">Submit</button>