<!doctype html>
<html>
    <head>
        <script src="/js/intro.js"></script>
    </head>

    <body>
        <h3><%= name %>!</h3>
        <br>
        Did you know that the sum of your favorite numbers is <%= num1+num2+num3 %>?<br>
        Thats <%= ((num1+num2+num3)-age).abs %> away from your age!
    </body>
</html>