<!doctype html>
<html>
    <head>
        <script src="/js/intro.js"></script>
        <link rel="stylesheet" href="/css/styles.css">
    </head>

    <body>
            <h3>Hello! What is your name?</h3>
            <input type="text" id="username" class="shadowed"> 
            <button id="sub_name" class="shadowed rounded" onclick="postName()">Submit</button>
        <p id="error_out"></p>
    </body>
</html>