<!doctype html>
<html>
    <head>
    <script src="../public/js/intro.js">
    </head>

    <body>
        <h3>Hello! What is your name?</h3>
        <input type="text" id="username"> 
        <button id="sub_name">Submit</button>
    </body>
</html>