<!doctype html>
<html>
    <head>
        <script src="/js/intro.js"></script>
        <link rel="stylesheet" href="/css/styles.css">
    </head>
    <body>
        <center>
        <a href="https://www.ruby-lang.org/en/">Ruby</a>
        <a href="https://www.heroku.com">Heroku</a>
        <a href="http://sinatrarb.com/">Sinatra</a>
        <br><br>
        <%= yield %>
        <br>
        <p id="error_out"></p><br>
        </center>
        <div style="">
        <a href=http://www.minedminds.org/><img src="/images/mm_logo.png" style="width:100px;height:100px;margin:auto;display:block;bottom:5px;border: solid 2px black"></a>
    </body>
</html>