<!doctype html>
<html>
    <head>
        <script src="/js/intro.js"></script>
        <link rel="stylesheet" href="/css/styles.css">
    </head>
    <body>
        <%= yield %>
        <p id="error_out"></p><br>
        <a href=http://www.minedminds.org/><img src=/images/mm_logo.png></a>
    </body>
</html>