<h3>Okay <%= name %>, so you are <%= age %>.<br>
Pick 3 favorite numbers.</h3>
<input type="hidden" id="username" value="<%= name %>">
<input type="hidden" id="age" value="<%= age %>">

<input type="number" id="num_1" class="shadowed"> 
<input type="number" id="num_2" class="shadowed"> 
<input type="number" id="num_3" class="shadowed"><br>
<button id="sub_numbers"  class="shadowed rounded" onclick="postNums()">Submit</button>