body {
    background-color: #5555AB;
    font-family: Arial;
    font-size: 1.4rem;
    color: black;
}

a:link {
    color: hotpink;
    text-decoration: none;
    font-family: Impact;
    font-size: 3rem;
    margin: 8px;
}

a {
    font-family: Impact;
    font-size: 3rem;
    margin: 8px;
}
a:link {
    color: rosybrown;
    text-decoration: none;
}
a:visited {
    color: rosybrown;
    text-decoration: none;
}

a:hover {
    color: red;
    text-decoration: underline;
}

a:active {
    color: red;
    text-decoration: underline;
}

.shadowed {
    box-shadow: 5px 5px 5px rgba(50, 50, 50, 0.6);
    margin: 8px;
}

.rounded {
    border-radius: 8px;
}