body {
    background-color: #9B9BFF;
    font: 15px impact;
}

.shadowed {
    box-shadow: 5px 5px 5px rgba(50, 50, 50, 0.6);
    border-collapse: seperate;
    border-spacing: 10px;
}

.rounded {
    border-radius: 8px;
}